
.table-container {
  padding: 20px;
  font-family: 'Arial, sans-serif';
}

.table {
  width: 100%;
  border-collapse: collapse;
  border: 2ps solid black;
  margin-bottom: 20px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

.table-header {
  background-color: #f2f2f2;
  border-bottom: 1px solid #ddd;
}

.table-header th {
  padding: 10px;
  text-align: left;
  font-weight: bold;
}

.table-row {
  border-bottom: 1px solid #ddd;
}

.table-row td{
  padding: 20px;
}
  
.table-empty-row td {
  text-align: center;
  padding: 10px;
}